# Environment Files
.env
.secret.local.json
secret.json
serviceaccount.json

# Node Modules
node_modules/

# Package Lock Files
yarn.lock

# IDE/Editor Configurations
.vscode/
*.code-workspace

# Logs and Temporary Files
*.log
*.tmp
*.swp
*.swo
*.bak
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.DS_Store

# Build and Output Directories
dist/
build/
out/

# Large or Sensitive Data Files
path
br-utf8.txt
ebook.json
.cache/
.venv/